{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
    <section class="hero-section position-relative">
        <img src="{% static 'img/home-page-01.png' %}" class="img-fluid w-100 hero-img" alt="Adventure Hero Background">
        <div class="hero-overlay d-flex flex-column justify-content-center align-items-center">
            <h1 class="hero-headline display-3 fw-bold text-white text-center">Choose your next Adventure</h1>
        </div>
    </section>

    <!-- Plans Section -->
    <section class="container plans-section py-5">
        <!-- <h2 class="plans-title mb-4">Book Your Room</h2> -->
        <div class="row g-4">
            <div class="col-12 col-md-6">
                <div class="card card-padded h-100">
                    <img src="{% static 'img/gravity-room.jpg' %}" class="card-img-top" alt="Gravity Room">
                    <div class="card-body">
                        <h5 class="card-title">Gravity Room</h5>
                        <p class="plan-price">$1000.00</p>
                        <p class="plan-once">Supreme</p>
                        <p class="card-text">Guests may feel slightly taller upon return.</p>
                        <a href="https://interdimensional-bnb-243551ecd9c7.herokuapp.com/rooms/" class="btn btn-plan">BROWSE ROOMS</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-padded h-100">
                    <img src="{% static 'img/time-room.png' %}" class="card-img-top" alt="Time Room">
                    <div class="card-body">
                        <h5 class="card-title">Time Room</h5>
                        <p class="plan-price">$5000.00</p>
                        <p class="plan-once">Extreme</p>
                        <p class="card-text">Guests may find that when they arrive home again, everyone else they know & love will be dead.</p>
                        <a href="https://interdimensional-bnb-243551ecd9c7.herokuapp.com/rooms/" class="btn btn-plan">BROWSE ROOMS</a>
                    </div>
                </div>
            </div>
           
        </div>
    </section>

    <!-- Brand Info Section -->
    <section class="container brand-section py-5">
        <div class="row align-items-center g-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/gravity-room.jpg' %}" class="img-fluid rounded-3" alt="Brand Info">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="brand-title">About Dimension</h2>
                <p class="brand-desc">For travelers looking for adventures across the multiverse.</p>
                <a href="#" class="btn btn-learn">LEARN MORE</a>
            </div>
        </div>
    </section>

    <!-- Social Section -->
    <!-- <section class="container social-section py-5">
        <h2 class="social-title mb-4">Follow us on social</h2>
        <div class="row g-3 mb-3">
            <div class="col-6 col-md-2">
                <img src="{% static 'img/hero-bg.jpg' %}" class="img-fluid rounded-2" alt="Social 1">
            </div>
            <div class="col-6 col-md-2">
                <img src="{% static 'img/time-room.png' %}" class="img-fluid rounded-2" alt="Social 2">
            </div>
            <div class="col-6 col-md-2">
                <img src="{% static 'img/gravity-room.jpg' %}" class="img-fluid rounded-2" alt="Social 3">
            </div>
            <div class="col-6 col-md-2">
                <img src="{% static 'img/home-page-01.png' %}" class="img-fluid rounded-2" alt="Social 4">
            </div>
            <div class="col-6 col-md-2">
                <img src="{% static 'img/hero-bg.jpg' %}" class="img-fluid rounded-2" alt="Social 5">
            </div>
        </div>
        <a href="#" class="btn btn-social">SOCIAL</a>
    </section> -->
{% endblock %}
